---
const today = new Date()
---

<footer class="footer footer-center mb-5 block pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Isto Nikula
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://github.com/istonikula/website" target="_blank" class="font-bold">Isto Nikula</a> using
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="font-bold">Astrofy Template ⚡️</a>
  </div>
  <div></div>
  <div class="inline opacity-75">
    <a href="https://iconscout.com/icons/repair-tool" target="_blank" class="font-bold">Repair tool</a>,
    <a href="https://iconscout.com/icons/bank" target="_blank" class="font-bold">Bank</a> and
    <a href="https://iconscout.com/icons/diamond" target="_blank" class="font-bold">Diamond</a>
    icons by <a href="https://iconscout.com/contributors/dinosoftlabs" target="_blank" class="font-bold">Dinosoft Lab</a
    >
    on <a href="https://iconscout.com" target="_blank" class="font-bold">IconScout</a>
  </div>
</footer>
<style></style>
