---
import { cx } from 'class-variance-authority'

interface Props {
  last?: boolean
}

const { last } = Astro.props
---

<div class="flex">
  <div>
    <span class="mt-1 block h-4 w-4 rounded-full bg-primary"></span>
    <span class={cx('block h-full w-[2px] translate-x-[7px] bg-primary', { hidden: last === true })}></span>
  </div>
  <div class="px-5">
    <slot />
  </div>
</div>
