---
import { cx } from 'class-variance-authority'

import Layout from '@/components/Layout/Layout.astro'
import ProjectCardWork from '@/components/ProjectCardWork.astro'
import SectionHeading from '@/components/SectionHeading.astro'
import { pinnedProjects } from '@/data'

const projects = pinnedProjects
---

<Layout sideBarActiveItemID="home">
  <div class="mt-5 pb-12">
    <div class="text-5xl font-bold">Isto Nikula</div>
    <div class="mt-3">
      <SectionHeading>Freelance Full Stack Developer</SectionHeading>
    </div>
    <div class="prose-sm mt-5">
      <p>
        I'm a results-driven Software Architect with expertise in designing and implementing robust full stack
        applications. My focus on precision and efficiency extends to translating business requirements into practical
        solutions. Experienced in agile methodologies, I emphasize the entire software lifecycle and long-term
        maintainability.
      </p>
      <p>
        I'm actively engaged in modern web technologies and have a keen interest in functional languages. Currently
        exploring Go and Rust, I am passionate about contributing to cutting-edge projects and thrive on strategic,
        hands-on software architecture.
      </p>
    </div>
  </div>

  <div class="mb-2">
    <SectionHeading>Latest Projects</SectionHeading>
  </div>

  {
    projects.map((p, idx) => (
      <>
        <div class={cx('divider my-0', { hidden: idx === 0 })} />
        <ProjectCardWork slug={p.slug} project={p} />
      </>
    ))
  }
</Layout>
