---
import { cx } from 'class-variance-authority'

import Layout from '@/components/Layout/Layout.astro'
import ProjectCardFoss from '@/components/ProjectCardFoss.astro'
import ProjectCardWork from '@/components/ProjectCardWork.astro'
import { allFoss, allProjects } from '@/lib/projects'
import { allTags } from '@/lib/tags'

export async function getStaticPaths() {
  const projects = await allProjects()
  const foss = await allFoss()
  const tags = await allTags()

  return tags.map((tag) => ({
    params: { tag },
    props: {
      projects: projects.filter((x) => x.data.tags.includes(tag)),
      foss: foss.filter((x) => x.data.tags.includes(tag)),
    },
  }))
}

const { tag } = Astro.params
const { projects, foss } = Astro.props
---

<Layout title=`Projects with ${tag}` sideBarActiveItemID="projects">
  {
    projects.map((p, idx) => (
      <>
        <div class={cx('divider my-0', { hidden: idx === 0 })} />
        <ProjectCardWork slug={p.slug} project={p.data} />
      </>
    ))
  }

  {
    foss.map((p, idx) => (
      <div class={cx({ 'mt-16': idx === 0 })}>
        <div class={cx('divider my-0', { hidden: idx === 0 })} />
        <ProjectCardFoss project={p.data} />
      </div>
    ))
  }
</Layout>
