---
import { cx } from "class-variance-authority";
import BaseLayout from "@layouts/BaseLayout.astro";
import { allTags } from '@lib/tags'
import { getCollection } from 'astro:content'
import ProjectCardFoss from '@components/ProjectCardFoss.astro'
import ProjectCardWork from '@components/ProjectCardWork.astro'

export async function getStaticPaths() {
  const projects = await getCollection('projects')
  const foss = await getCollection('foss')
  const tags = await allTags()

  return tags.map(tag => ({
    params: { tag },
    props: { 
      projects: projects.filter(x => x.data.tags.includes(tag)),
      foss: foss.filter(x => x.data.tags.includes(tag)),
    },
  }));
}

const { tag } = Astro.params
const { projects, foss } = Astro.props
---

<BaseLayout title=`Projects with ${tag}` sideBarActiveItemID="projects">
  {projects.map((p, idx) => (
    <>
      <div class={cx('divider my-0', { 'hidden': idx === 0})}></div>
      <ProjectCardWork slug={p.slug} project={p.data} />
    </>
  ))}

  {foss.map((p, idx) => (
    <div class={cx({ 'mt-16': idx === 0})}>
      <div class={cx('divider my-0', { 'hidden': idx === 0})}></div>
      <ProjectCardFoss project={p.data} />
    </div>
  ))}

</BaseLayout>
