---
import { getCollection } from 'astro:content'
import { cx } from 'class-variance-authority'

import Layout from '@/components/Layout/Layout.astro'
import ProjectCardFoss from '@/components/ProjectCardFoss.astro'
import ProjectCardWork from '@/components/ProjectCardWork.astro'
import { topProjects } from '@/lib/topProjects'

const projects = await topProjects()
const foss = await getCollection('foss')
---

<Layout title="Projects" sideBarActiveItemID="projects">
  {
    projects.map((p, idx) => (
      <>
        <div class={cx('divider my-0', { hidden: idx === 0 })} />
        <ProjectCardWork slug={p.slug} project={p.data} />
      </>
    ))
  }

  {
    foss.map((p, idx) => (
      <div class={cx({ 'mt-16': idx === 0 })}>
        <div class={cx('divider my-0', { hidden: idx === 0 })} />
        <ProjectCardFoss project={p.data} />
      </div>
    ))
  }
</Layout>
