---
import { getCollection } from 'astro:content'

import Layout from '@/components/Layout/Layout.astro'
import * as fmt from '@/lib/format'

export async function getStaticPaths() {
  const employments = await getCollection('employment')
  return employments.map((e) => ({
    params: { slug: e.slug },
    props: { e },
  }))
}

const { e } = Astro.props
const { Content } = await e.render()
---

<Layout title={e.data.employer}>
  <main>
    <article class="prose prose-sm max-w-[750px]">
      <h1 class="title my-2 text-4xl font-bold">{e.data.employer}</h1>
      <div>{e.data.title}</div>
      <div>{fmt.fromTo(e.data)}</div>
      <div class="divider my-2"></div>
      <Content />
    </article>
  </main>
</Layout>
